.card-container {
  display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
}

.card {
  border: 1px solid red;
  border-radius: 1rem;
  background-color: yellow;

  flex: 1 1 300px; /* Grow, Shrink, Basis -> each card will try to be 300px wide */
  max-width: 350px;

  align-content: center;
  text-align: center;
  font-size: 2rem;
  color: black;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-0.5rem); /* Lifts the card up on hover */
  box-shadow: 0 0.25em .5em var(--fill-color-60);
}

.grid-container {
  /* 1. Turn this element into a grid container */
  display: grid; 

  /* 2. Define the columns: */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  /* 3. Define the rows: */
  grid-auto-rows: auto;

  /* 4. Create a gap between all grid items */
  gap: 1rem; 

  /* 5. Set other properties: */
  margin: 1rem auto;

}

.grid-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color);
  border-radius: 1rem;
  place-items: center; /* Optional: helps center content inside */
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0.5em 0.5em var(--fill-color-60);
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 auto;
  width: 300px;
  max-width: 100%;
  color: var(--color);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0.5em 0.5em var(--fill-color-60);
}

.grid-item:hover, .flex-item:hover {
  transform: translateY(-0.5rem); /* Lifts the card up on hover */
  box-shadow: 0 0.8em 0.8em var(--fill-color-80);
}

.grid-item h4, .flex-item h4 {
  border-bottom: none;
  font-size: 2rem;
  margin: 1rem auto;
}

.grid-item li, .flex-item li {
  text-align: left;
}

.letter-callout {
  font-size: 5rem;
  padding: 0;
  margin:0;
  z-index: 0;
  text-shadow: 0 0.25rem 0.1rem var(--fill-color-60);
}

.grid-item div:nth-of-type(2), .flex-item div:nth-of-type(2) {
  margin-bottom: 1rem;
}

.grid-item div:nth-of-type(3){
  color: var(--opposite-color);
  border-radius: 1rem;
  margin-top: auto;
  padding: 0.25rem;
}

.flex-item>h4 {
  text-align: center;
  border-bottom: 1px solid var(--color);
}

.flex-item>a {
  display: block;
  text-align: center;
}
