/* @media (prefers-color-scheme: dark) {
  :root {
    --color: #f1f1dc;
    --opposite-color: #2d2e37;
    --bg: #0e1134;
    --hover: #eccda1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #000000;
    --opposite-color: #ffffff;
    --bg: #ffffff;
    --hover: #3d48ea;
  }
} */

:root {
  /* Forced dark theme */
  --color: #f1f1dc;
  --opposite-color: #2d2e37;
  --opposite-color-50: #2d2e3780;
  --bg-color: #05111d;
  --hover-color: #eccda1;
  --fill-color: rgba(0, 0, 0, 1);
  --fill-color-10: rgba(0, 0, 0, 0.1);
  --fill-color-20: rgba(0, 0, 0, 0.2);
  --fill-color-30: rgba(0, 0, 0, 0.3);
  --fill-color-40: rgba(0, 0, 0, 0.4);
  --fill-color-50: rgba(0, 0, 0, 0.5);
  --fill-color-60: rgba(0, 0, 0, 0.6);
  --fill-color-70: rgba(0, 0, 0, 0.7);
  --fill-color-80: rgba(0, 0, 0, 0.8);
  --fill-color-90: rgba(0, 0, 0, 0.9);
  --mnemonic-dark: rgba(180, 0, 180, 1);
  --mnemonic-light: rgba(220, 100, 220, 1);
  --mnemonic-bg: rgba(240, 160, 240, 1);
  /* ^ ^ ^ ^ ^ ^ ^ ^ ^ */

  --heading-font: 'Italiana', serif;
  --body-font: 'Merriweather', serif;

  --primary-color: #8f7625;
  --primary-color-80: #8f7625cc;
  --primary-color-90: #8f7625e6;
  --secondary-color: #8192a6;
  --accent-color: #db5b3d;
  --soft-color: #b8b8b8;
  --soft-color-50: #b8b8b880;
  --subtle-color: #cde2eb;

  --primary-ka-color: #d5c837;
  --secondary-ka-color: #37d567; /* #ABE0BB */
  --tertiary-ka-color: #aacbe0;

  --a1-lightest: rgba(251, 232, 234, 1);
  --a1-lighter: rgba(247, 208, 213, 1);
  --a1-light: rgba(243, 185, 191, 1);
  --a1-normal: rgba(239, 161, 170, 1);
  --a1-dark: rgba(179, 121, 128, 1);
  --a1-darker: rgba(120, 81, 85, 1);
  --a1-darkest: rgba(60, 40, 43, 1);

  --a2-lightest: rgba(251, 236, 232, 1);
  --a2-lighter: rgba(247, 218, 208, 1);
  --a2-light: rgba(243, 199, 185, 1);
  --a2-normal: rgba(239, 180, 161, 1);
  --a2-dark: rgba(179, 135, 121, 1);
  --a2-darker: rgba(120, 90, 81, 1);
  --a2-darkest: rgba(60, 45, 40, 1);

  --a3-lightest: rgba(251, 246, 232, 1);
  --a3-lighter: rgba(247, 236, 208, 1);
  --a3-light: rgba(243, 227, 185, 1);
  --a3-normal: rgba(239, 217, 161, 1);
  --a3-dark: rgba(179, 163, 121, 1);
  --a3-darker: rgba(120, 109, 81, 1);
  --a3-darkest: rgba(60, 54, 40, 1);

  --a4-lightest: rgba(251, 250, 232, 1);
  --a4-lighter: rgba(247, 245, 208, 1);
  --a4-light: rgba(243, 240, 185, 1);
  --a4-normal: rgba(239, 235, 161, 1);
  --a4-dark: rgba(179, 176, 121, 1);
  --a4-darker: rgba(120, 118, 81, 1);
  --a4-darkest: rgba(60, 59, 40, 1);

  --a5-lightest: rgba(239, 251, 232, 1);
  --a5-lighter: rgba(222, 247, 208, 1);
  --a5-light: rgba(206, 243, 185, 1);
  --a5-normal: rgba(189, 239, 161, 1);
  --a5-dark: rgba(142, 179, 121, 1);
  --a5-darker: rgba(95, 120, 81, 1);
  --a5-darkest: rgba(47, 60, 40, 1);

  --a6-lightest: rgba(232, 247, 251, 1);
  --a6-lighter: rgba(208, 239, 247, 1);
  --a6-light: rgba(185, 230, 243, 1);
  --a6-normal: rgba(161, 222, 239, 1);
  --a6-dark: rgba(121, 167, 179, 1);
  --a6-darker: rgba(81, 111, 120, 1);
  --a6-darkest: rgba(40, 56, 60, 1);

  --a7-lightest: rgba(232, 243, 251, 1);
  --a7-lighter: rgba(208, 231, 247, 1);
  --a7-light: rgba(185, 219, 243, 1);
  --a7-normal: rgba(161, 207, 239, 1);
  --a7-dark: rgba(121, 155, 179, 1);
  --a7-darker: rgba(81, 104, 120, 1);
  --a7-darkest: rgba(40, 52, 60, 1);

  --a8-lightest: rgba(232, 236, 251, 1);
  --a8-lighter: rgba(208, 218, 247, 1);
  --a8-light: rgba(185, 199, 243, 1);
  --a8-normal: rgba(161, 180, 239, 1);
  --a8-dark: rgba(121, 135, 179, 1);
  --a8-darker: rgba(81, 90, 120, 1);
  --a8-darkest: rgba(40, 45, 60, 1);

  --a9-lightest: rgba(236, 232, 251, 1);
  --a9-lighter: rgba(218, 208, 247, 1);
  --a9-light: rgba(199, 185, 243, 1);
  --a9-normal: rgba(180, 161, 239, 1);
  --a9-dark: rgba(135, 121, 179, 1);
  --a9-darker: rgba(90, 81, 120, 1);
  --a9-darkest: rgba(45, 40, 60, 1);

  --b1-lightest: rgba(253, 220, 224, 1);
  --b1-lighter: rgba(250, 185, 193, 1);
  --b1-light: rgba(248, 150, 161, 1);
  --b1-normal: rgba(245, 115, 130, 1);
  --b1-dark: rgba(184, 86, 98, 1);
  --b1-darker: rgba(123, 58, 65, 1);
  --b1-darkest: rgba(61, 29, 33, 1);

  --b2-lightest: rgba(253, 228, 220, 1);
  --b2-lighter: rgba(250, 201, 185, 1);
  --b2-light: rgba(248, 173, 150, 1);
  --b2-normal: rgba(245, 146, 115, 1);
  --b2-dark: rgba(184, 110, 86, 1);
  --b2-darker: rgba(123, 73, 58, 1);
  --b2-darkest: rgba(61, 37, 29, 1);

  --b3-lightest: rgba(253, 243, 220, 1);
  --b3-lighter: rgba(250, 232, 185, 1);
  --b3-light: rgba(248, 220, 150, 1);
  --b3-normal: rgba(245, 208, 115, 1);
  --b3-dark: rgba(184, 156, 86, 1);
  --b3-darker: rgba(123, 104, 58, 1);
  --b3-darkest: rgba(61, 52, 29, 1);

  --b4-lightest: rgba(253, 251, 220, 1);
  --b4-lighter: rgba(250, 247, 185, 1);
  --b4-light: rgba(248, 243, 150, 1);
  --b4-normal: rgba(245, 239, 115, 1);
  --b4-dark: rgba(184, 179, 86, 1);
  --b4-darker: rgba(123, 120, 58, 1);
  --b4-darkest: rgba(61, 60, 29, 1);

  --b5-lightest: rgba(232, 253, 220, 1);
  --b5-lighter: rgba(208, 250, 185, 1);
  --b5-light: rgba(185, 248, 150, 1);
  --b5-normal: rgba(161, 245, 115, 1);
  --b5-dark: rgba(121, 184, 86, 1);
  --b5-darker: rgba(81, 123, 58, 1);
  --b5-darkest: rgba(40, 61, 29, 1);

  --b6-lightest: rgba(220, 246, 253, 1);
  --b6-lighter: rgba(185, 236, 250, 1);
  --b6-light: rgba(150, 227, 248, 1);
  --b6-normal: rgba(115, 217, 245, 1);
  --b6-dark: rgba(86, 163, 184, 1);
  --b6-darker: rgba(58, 109, 123, 1);
  --b6-darkest: rgba(29, 54, 61, 1);

  --b7-lightest: rgba(220, 239, 253, 1);
  --b7-lighter: rgba(185, 224, 250, 1);
  --b7-light: rgba(150, 208, 248, 1);
  --b7-normal: rgba(115, 192, 245, 1);
  --b7-dark: rgba(86, 144, 184, 1);
  --b7-darker: rgba(58, 96, 123, 1);
  --b7-darkest: rgba(29, 48, 61, 1);

  --b8-lightest: rgba(220, 228, 253, 1);
  --b8-lighter: rgba(185, 201, 250, 1);
  --b8-light: rgba(150, 173, 248, 1);
  --b8-normal: rgba(115, 146, 245, 1);
  --b8-dark: rgba(86, 110, 184, 1);
  --b8-darker: rgba(58, 73, 123, 1);
  --b8-darkest: rgba(29, 37, 61, 1);

  --b9-lightest: rgba(228, 220, 253, 1);
  --b9-lighter: rgba(201, 185, 250, 1);
  --b9-light: rgba(173, 150, 248, 1);
  --b9-normal: rgba(146, 115, 245, 1);
  --b9-dark: rgba(110, 86, 184, 1);
  --b9-darker: rgba(73, 58, 123, 1);
  --b9-darkest: rgba(37, 29, 61, 1);

  /* Transparent versions of normal */
  --a1-10: rgba(239, 161, 170, 0.1);
  --a1-20: rgba(239, 161, 170, 0.2);
  --a1-30: rgba(239, 161, 170, 0.3);
  --a1-40: rgba(239, 161, 170, 0.4);
  --a1-50: rgba(239, 161, 170, 0.5);
  --a1-60: rgba(239, 161, 170, 0.6);
  --a1-70: rgba(239, 161, 170, 0.7);
  --a1-80: rgba(239, 161, 170, 0.8);
  --a1-90: rgba(239, 161, 170, 0.9);
  --a2-10: rgba(239, 180, 161, 0.1);
  --a2-20: rgba(239, 180, 161, 0.2);
  --a2-30: rgba(239, 180, 161, 0.3);
  --a2-40: rgba(239, 180, 161, 0.4);
  --a2-50: rgba(239, 180, 161, 0.5);
  --a2-60: rgba(239, 180, 161, 0.6);
  --a2-70: rgba(239, 180, 161, 0.7);
  --a2-80: rgba(239, 180, 161, 0.8);
  --a2-90: rgba(239, 180, 161, 0.9);
  --a3-10: rgba(239, 217, 161, 0.1);
  --a3-20: rgba(239, 217, 161, 0.2);
  --a3-30: rgba(239, 217, 161, 0.3);
  --a3-40: rgba(239, 217, 161, 0.4);
  --a3-50: rgba(239, 217, 161, 0.5);
  --a3-60: rgba(239, 217, 161, 0.6);
  --a3-70: rgba(239, 217, 161, 0.7);
  --a3-80: rgba(239, 217, 161, 0.8);
  --a3-90: rgba(239, 217, 161, 0.9);
  --a4-10: rgba(239, 235, 161, 0.1);
  --a4-20: rgba(239, 235, 161, 0.2);
  --a4-30: rgba(239, 235, 161, 0.3);
  --a4-40: rgba(239, 235, 161, 0.4);
  --a4-50: rgba(239, 235, 161, 0.5);
  --a4-60: rgba(239, 235, 161, 0.6);
  --a4-70: rgba(239, 235, 161, 0.7);
  --a4-80: rgba(239, 235, 161, 0.8);
  --a4-90: rgba(239, 235, 161, 0.9);
  --a5-10: rgba(189, 239, 161, 0.1);
  --a5-20: rgba(189, 239, 161, 0.2);
  --a5-30: rgba(189, 239, 161, 0.3);
  --a5-40: rgba(189, 239, 161, 0.4);
  --a5-50: rgba(189, 239, 161, 0.5);
  --a5-60: rgba(189, 239, 161, 0.6);
  --a5-70: rgba(189, 239, 161, 0.7);
  --a5-80: rgba(189, 239, 161, 0.8);
  --a5-90: rgba(189, 239, 161, 0.9);
  --a6-10: rgba(161, 222, 239, 0.1);
  --a6-20: rgba(161, 222, 239, 0.2);
  --a6-30: rgba(161, 222, 239, 0.3);
  --a6-40: rgba(161, 222, 239, 0.4);
  --a6-50: rgba(161, 222, 239, 0.5);
  --a6-60: rgba(161, 222, 239, 0.6);
  --a6-70: rgba(161, 222, 239, 0.7);
  --a6-80: rgba(161, 222, 239, 0.8);
  --a6-90: rgba(161, 222, 239, 0.9);
  --a7-10: rgba(161, 207, 239, 0.1);
  --a7-20: rgba(161, 207, 239, 0.2);
  --a7-30: rgba(161, 207, 239, 0.3);
  --a7-40: rgba(161, 207, 239, 0.4);
  --a7-50: rgba(161, 207, 239, 0.5);
  --a7-60: rgba(161, 207, 239, 0.6);
  --a7-70: rgba(161, 207, 239, 0.7);
  --a7-80: rgba(161, 207, 239, 0.8);
  --a7-90: rgba(161, 207, 239, 0.9);
  --a8-10: rgba(161, 180, 239, 0.1);
  --a8-20: rgba(161, 180, 239, 0.2);
  --a8-30: rgba(161, 180, 239, 0.3);
  --a8-40: rgba(161, 180, 239, 0.4);
  --a8-50: rgba(161, 180, 239, 0.5);
  --a8-60: rgba(161, 180, 239, 0.6);
  --a8-70: rgba(161, 180, 239, 0.7);
  --a8-80: rgba(161, 180, 239, 0.8);
  --a8-90: rgba(161, 180, 239, 0.9);
  --a9-10: rgba(180, 161, 239, 0.1);
  --a9-20: rgba(180, 161, 239, 0.2);
  --a9-30: rgba(180, 161, 239, 0.3);
  --a9-40: rgba(180, 161, 239, 0.4);
  --a9-50: rgba(180, 161, 239, 0.5);
  --a9-60: rgba(180, 161, 239, 0.6);
  --a9-70: rgba(180, 161, 239, 0.7);
  --a9-80: rgba(180, 161, 239, 0.8);
  --a9-90: rgba(180, 161, 239, 0.9);
  --b1-10: rgba(245, 115, 130, 0.1);
  --b1-20: rgba(245, 115, 130, 0.2);
  --b1-30: rgba(245, 115, 130, 0.3);
  --b1-40: rgba(245, 115, 130, 0.4);
  --b1-50: rgba(245, 115, 130, 0.5);
  --b1-60: rgba(245, 115, 130, 0.6);
  --b1-70: rgba(245, 115, 130, 0.7);
  --b1-80: rgba(245, 115, 130, 0.8);
  --b1-90: rgba(245, 115, 130, 0.9);
  --b2-10: rgba(245, 146, 115, 0.1);
  --b2-20: rgba(245, 146, 115, 0.2);
  --b2-30: rgba(245, 146, 115, 0.3);
  --b2-40: rgba(245, 146, 115, 0.4);
  --b2-50: rgba(245, 146, 115, 0.5);
  --b2-60: rgba(245, 146, 115, 0.6);
  --b2-70: rgba(245, 146, 115, 0.7);
  --b2-80: rgba(245, 146, 115, 0.8);
  --b2-90: rgba(245, 146, 115, 0.9);
  --b3-10: rgba(245, 208, 115, 0.1);
  --b3-20: rgba(245, 208, 115, 0.2);
  --b3-30: rgba(245, 208, 115, 0.3);
  --b3-40: rgba(245, 208, 115, 0.4);
  --b3-50: rgba(245, 208, 115, 0.5);
  --b3-60: rgba(245, 208, 115, 0.6);
  --b3-70: rgba(245, 208, 115, 0.7);
  --b3-80: rgba(245, 208, 115, 0.8);
  --b3-90: rgba(245, 208, 115, 0.9);
  --b4-10: rgba(245, 239, 115, 0.1);
  --b4-20: rgba(245, 239, 115, 0.2);
  --b4-30: rgba(245, 239, 115, 0.3);
  --b4-40: rgba(245, 239, 115, 0.4);
  --b4-50: rgba(245, 239, 115, 0.5);
  --b4-60: rgba(245, 239, 115, 0.6);
  --b4-70: rgba(245, 239, 115, 0.7);
  --b4-80: rgba(245, 239, 115, 0.8);
  --b4-90: rgba(245, 239, 115, 0.9);
  --b5-10: rgba(161, 245, 115, 0.1);
  --b5-20: rgba(161, 245, 115, 0.2);
  --b5-30: rgba(161, 245, 115, 0.3);
  --b5-40: rgba(161, 245, 115, 0.4);
  --b5-50: rgba(161, 245, 115, 0.5);
  --b5-60: rgba(161, 245, 115, 0.6);
  --b5-70: rgba(161, 245, 115, 0.7);
  --b5-80: rgba(161, 245, 115, 0.8);
  --b5-90: rgba(161, 245, 115, 0.9);
  --b6-10: rgba(115, 217, 245, 0.1);
  --b6-20: rgba(115, 217, 245, 0.2);
  --b6-30: rgba(115, 217, 245, 0.3);
  --b6-40: rgba(115, 217, 245, 0.4);
  --b6-50: rgba(115, 217, 245, 0.5);
  --b6-60: rgba(115, 217, 245, 0.6);
  --b6-70: rgba(115, 217, 245, 0.7);
  --b6-80: rgba(115, 217, 245, 0.8);
  --b6-90: rgba(115, 217, 245, 0.9);
  --b7-10: rgba(115, 192, 245, 0.1);
  --b7-20: rgba(115, 192, 245, 0.2);
  --b7-30: rgba(115, 192, 245, 0.3);
  --b7-40: rgba(115, 192, 245, 0.4);
  --b7-50: rgba(115, 192, 245, 0.5);
  --b7-60: rgba(115, 192, 245, 0.6);
  --b7-70: rgba(115, 192, 245, 0.7);
  --b7-80: rgba(115, 192, 245, 0.8);
  --b7-90: rgba(115, 192, 245, 0.9);
  --b8-10: rgba(115, 146, 245, 0.1);
  --b8-20: rgba(115, 146, 245, 0.2);
  --b8-30: rgba(115, 146, 245, 0.3);
  --b8-40: rgba(115, 146, 245, 0.4);
  --b8-50: rgba(115, 146, 245, 0.5);
  --b8-60: rgba(115, 146, 245, 0.6);
  --b8-70: rgba(115, 146, 245, 0.7);
  --b8-80: rgba(115, 146, 245, 0.8);
  --b8-90: rgba(115, 146, 245, 0.9);
  --b9-10: rgba(146, 115, 245, 0.1);
  --b9-20: rgba(146, 115, 245, 0.2);
  --b9-30: rgba(146, 115, 245, 0.3);
  --b9-40: rgba(146, 115, 245, 0.4);
  --b9-50: rgba(146, 115, 245, 0.5);
  --b9-60: rgba(146, 115, 245, 0.6);
  --b9-70: rgba(146, 115, 245, 0.7);
  --b9-80: rgba(146, 115, 245, 0.8);
  --b9-90: rgba(146, 115, 245, 0.9);
}

/* Color Classes */
.color-color {
  color: var(--color);
}

.color-a1-lightest {
  color: var(--a1-lightest);
}
.color-a1-lighter {
  color: var(--a1-lighter);
}
.color-a1-light {
  color: var(--a1-light);
}
.color-a1-normal {
  color: var(--a1-normal);
}
.color-a1-dark {
  color: var(--a1-dark);
}
.color-a1-darker {
  color: var(--a1-darker);
}
.color-a1-darkest {
  color: var(--a1-darkest);
}

.color-a2-lightest {
  color: var(--a2-lightest);
}
.color-a2-lighter {
  color: var(--a2-lighter);
}
.color-a2-light {
  color: var(--a2-light);
}
.color-a2-normal {
  color: var(--a2-normal);
}
.color-a2-dark {
  color: var(--a2-dark);
}
.color-a2-darker {
  color: var(--a2-darker);
}
.color-a2-darkest {
  color: var(--a2-darkest);
}

.color-a3-lightest {
  color: var(--a3-lightest);
}
.color-a3-lighter {
  color: var(--a3-lighter);
}
.color-a3-light {
  color: var(--a3-light);
}
.color-a3-normal {
  color: var(--a3-normal);
}
.color-a3-dark {
  color: var(--a3-dark);
}
.color-a3-darker {
  color: var(--a3-darker);
}
.color-a3-darkest {
  color: var(--a3-darkest);
}

.color-a4-lightest {
  color: var(--a4-lightest);
}
.color-a4-lighter {
  color: var(--a4-lighter);
}
.color-a4-light {
  color: var(--a4-light);
}
.color-a4-normal {
  color: var(--a4-normal);
}
.color-a4-dark {
  color: var(--a4-dark);
}
.color-a4-darker {
  color: var(--a4-darker);
}
.color-a4-darkest {
  color: var(--a4-darkest);
}

.color-a5-lightest {
  color: var(--a5-lightest);
}
.color-a5-lighter {
  color: var(--a5-lighter);
}
.color-a5-light {
  color: var(--a5-light);
}
.color-a5-normal {
  color: var(--a5-normal);
}
.color-a5-dark {
  color: var(--a5-dark);
}
.color-a5-darker {
  color: var(--a5-darker);
}
.color-a5-darkest {
  color: var(--a5-darkest);
}

.color-a6-lightest {
  color: var(--a6-lightest);
}
.color-a6-lighter {
  color: var(--a6-lighter);
}
.color-a6-light {
  color: var(--a6-light);
}
.color-a6-normal {
  color: var(--a6-normal);
}
.color-a6-dark {
  color: var(--a6-dark);
}
.color-a6-darker {
  color: var(--a6-darker);
}
.color-a6-darkest {
  color: var(--a6-darkest);
}

.color-a7-lightest {
  color: var(--a7-lightest);
}
.color-a7-lighter {
  color: var(--a7-lighter);
}
.color-a7-light {
  color: var(--a7-light);
}
.color-a7-normal {
  color: var(--a7-normal);
}
.color-a7-dark {
  color: var(--a7-dark);
}
.color-a7-darker {
  color: var(--a7-darker);
}
.color-a7-darkest {
  color: var(--a7-darkest);
}

.color-a8-lightest {
  color: var(--a8-lightest);
}
.color-a8-lighter {
  color: var(--a8-lighter);
}
.color-a8-light {
  color: var(--a8-light);
}
.color-a8-normal {
  color: var(--a8-normal);
}
.color-a8-dark {
  color: var(--a8-dark);
}
.color-a8-darker {
  color: var(--a8-darker);
}
.color-a8-darkest {
  color: var(--a8-darkest);
}

.color-a9-lightest {
  color: var(--a9-lightest);
}
.color-a9-lighter {
  color: var(--a9-lighter);
}
.color-a9-light {
  color: var(--a9-light);
}
.color-a9-normal {
  color: var(--a9-normal);
}
.color-a9-dark {
  color: var(--a9-dark);
}
.color-a9-darker {
  color: var(--a9-darker);
}
.color-a9-darkest {
  color: var(--a9-darkest);
}

.color-b1-lightest {
  color: var(--b1-lightest);
}
.color-b1-lighter {
  color: var(--b1-lighter);
}
.color-b1-light {
  color: var(--b1-light);
}
.color-b1-normal {
  color: var(--b1-normal);
}
.color-b1-dark {
  color: var(--b1-dark);
}
.color-b1-darker {
  color: var(--b1-darker);
}
.color-b1-darkest {
  color: var(--b1-darkest);
}

.color-b2-lightest {
  color: var(--b2-lightest);
}
.color-b2-lighter {
  color: var(--b2-lighter);
}
.color-b2-light {
  color: var(--b2-light);
}
.color-b2-normal {
  color: var(--b2-normal);
}
.color-b2-dark {
  color: var(--b2-dark);
}
.color-b2-darker {
  color: var(--b2-darker);
}
.color-b2-darkest {
  color: var(--b2-darkest);
}

.color-b3-lightest {
  color: var(--b3-lightest);
}
.color-b3-lighter {
  color: var(--b3-lighter);
}
.color-b3-light {
  color: var(--b3-light);
}
.color-b3-normal {
  color: var(--b3-normal);
}
.color-b3-dark {
  color: var(--b3-dark);
}
.color-b3-darker {
  color: var(--b3-darker);
}
.color-b3-darkest {
  color: var(--b3-darkest);
}

.color-b4-lightest {
  color: var(--b4-lightest);
}
.color-b4-lighter {
  color: var(--b4-lighter);
}
.color-b4-light {
  color: var(--b4-light);
}
.color-b4-normal {
  color: var(--b4-normal);
}
.color-b4-dark {
  color: var(--b4-dark);
}
.color-b4-darker {
  color: var(--b4-darker);
}
.color-b4-darkest {
  color: var(--b4-darkest);
}

.color-b5-lightest {
  color: var(--b5-lightest);
}
.color-b5-lighter {
  color: var(--b5-lighter);
}
.color-b5-light {
  color: var(--b5-light);
}
.color-b5-normal {
  color: var(--b5-normal);
}
.color-b5-dark {
  color: var(--b5-dark);
}
.color-b5-darker {
  color: var(--b5-darker);
}
.color-b5-darkest {
  color: var(--b5-darkest);
}

.color-b6-lightest {
  color: var(--b6-lightest);
}
.color-b6-lighter {
  color: var(--b6-lighter);
}
.color-b6-light {
  color: var(--b6-light);
}
.color-b6-normal {
  color: var(--b6-normal);
}
.color-b6-dark {
  color: var(--b6-dark);
}
.color-b6-darker {
  color: var(--b6-darker);
}
.color-b6-darkest {
  color: var(--b6-darkest);
}

.color-b7-lightest {
  color: var(--b7-lightest);
}
.color-b7-lighter {
  color: var(--b7-lighter);
}
.color-b7-light {
  color: var(--b7-light);
}
.color-b7-normal {
  color: var(--b7-normal);
}
.color-b7-dark {
  color: var(--b7-dark);
}
.color-b7-darker {
  color: var(--b7-darker);
}
.color-b7-darkest {
  color: var(--b7-darkest);
}

.color-b8-lightest {
  color: var(--b8-lightest);
}
.color-b8-lighter {
  color: var(--b8-lighter);
}
.color-b8-light {
  color: var(--b8-light);
}
.color-b8-normal {
  color: var(--b8-normal);
}
.color-b8-dark {
  color: var(--b8-dark);
}
.color-b8-darker {
  color: var(--b8-darker);
}
.color-b8-darkest {
  color: var(--b8-darkest);
}

.color-b9-lightest {
  color: var(--b9-lightest);
}
.color-b9-lighter {
  color: var(--b9-lighter);
}
.color-b9-light {
  color: var(--b9-light);
}
.color-b9-normal {
  color: var(--b9-normal);
}
.color-b9-dark {
  color: var(--b9-dark);
}
.color-b9-darker {
  color: var(--b9-darker);
}
.color-b9-darkest {
  color: var(--b9-darkest);
}

/* Background Classes */
.bg-a1-lightest {
  background-color: var(--a1-lightest);
}
.bg-a1-lighter {
  background-color: var(--a1-lighter);
}
.bg-a1-light {
  background-color: var(--a1-light);
}
.bg-a1-normal {
  background-color: var(--a1-normal);
}
.bg-a1-dark {
  background-color: var(--a1-dark);
}
.bg-a1-darker {
  background-color: var(--a1-darker);
}
.bg-a1-darkest {
  background-color: var(--a1-darkest);
}

.bg-a2-lightest {
  background-color: var(--a2-lightest);
}
.bg-a2-lighter {
  background-color: var(--a2-lighter);
}
.bg-a2-light {
  background-color: var(--a2-light);
}
.bg-a2-normal {
  background-color: var(--a2-normal);
}
.bg-a2-dark {
  background-color: var(--a2-dark);
}
.bg-a2-darker {
  background-color: var(--a2-darker);
}
.bg-a2-darkest {
  background-color: var(--a2-darkest);
}

.bg-a3-lightest {
  background-color: var(--a3-lightest);
}
.bg-a3-lighter {
  background-color: var(--a3-lighter);
}
.bg-a3-light {
  background-color: var(--a3-light);
}
.bg-a3-normal {
  background-color: var(--a3-normal);
}
.bg-a3-dark {
  background-color: var(--a3-dark);
}
.bg-a3-darker {
  background-color: var(--a3-darker);
}
.bg-a3-darkest {
  background-color: var(--a3-darkest);
}

.bg-a4-lightest {
  background-color: var(--a4-lightest);
}
.bg-a4-lighter {
  background-color: var(--a4-lighter);
}
.bg-a4-light {
  background-color: var(--a4-light);
}
.bg-a4-normal {
  background-color: var(--a4-normal);
}
.bg-a4-dark {
  background-color: var(--a4-dark);
}
.bg-a4-darker {
  background-color: var(--a4-darker);
}
.bg-a4-darkest {
  background-color: var(--a4-darkest);
}

.bg-a5-lightest {
  background-color: var(--a5-lightest);
}
.bg-a5-lighter {
  background-color: var(--a5-lighter);
}
.bg-a5-light {
  background-color: var(--a5-light);
}
.bg-a5-normal {
  background-color: var(--a5-normal);
}
.bg-a5-dark {
  background-color: var(--a5-dark);
}
.bg-a5-darker {
  background-color: var(--a5-darker);
}
.bg-a5-darkest {
  background-color: var(--a5-darkest);
}

.bg-a6-lightest {
  background-color: var(--a6-lightest);
}
.bg-a6-lighter {
  background-color: var(--a6-lighter);
}
.bg-a6-light {
  background-color: var(--a6-light);
}
.bg-a6-normal {
  background-color: var(--a6-normal);
}
.bg-a6-dark {
  background-color: var(--a6-dark);
}
.bg-a6-darker {
  background-color: var(--a6-darker);
}
.bg-a6-darkest {
  background-color: var(--a6-darkest);
}

.bg-a7-lightest {
  background-color: var(--a7-lightest);
}
.bg-a7-lighter {
  background-color: var(--a7-lighter);
}
.bg-a7-light {
  background-color: var(--a7-light);
}
.bg-a7-normal {
  background-color: var(--a7-normal);
}
.bg-a7-dark {
  background-color: var(--a7-dark);
}
.bg-a7-darker {
  background-color: var(--a7-darker);
}
.bg-a7-darkest {
  background-color: var(--a7-darkest);
}

.bg-a8-lightest {
  background-color: var(--a8-lightest);
}
.bg-a8-lighter {
  background-color: var(--a8-lighter);
}
.bg-a8-light {
  background-color: var(--a8-light);
}
.bg-a8-normal {
  background-color: var(--a8-normal);
}
.bg-a8-dark {
  background-color: var(--a8-dark);
}
.bg-a8-darker {
  background-color: var(--a8-darker);
}
.bg-a8-darkest {
  background-color: var(--a8-darkest);
}

.bg-a9-lightest {
  background-color: var(--a9-lightest);
}
.bg-a9-lighter {
  background-color: var(--a9-lighter);
}
.bg-a9-light {
  background-color: var(--a9-light);
}
.bg-a9-normal {
  background-color: var(--a9-normal);
}
.bg-a9-dark {
  background-color: var(--a9-dark);
}
.bg-a9-darker {
  background-color: var(--a9-darker);
}
.bg-a9-darkest {
  background-color: var(--a9-darkest);
}

.bg-b1-lightest {
  background-color: var(--b1-lightest);
}
.bg-b1-lighter {
  background-color: var(--b1-lighter);
}
.bg-b1-light {
  background-color: var(--b1-light);
}
.bg-b1-normal {
  background-color: var(--b1-normal);
}
.bg-b1-dark {
  background-color: var(--b1-dark);
}
.bg-b1-darker {
  background-color: var(--b1-darker);
}
.bg-b1-darkest {
  background-color: var(--b1-darkest);
}

.bg-b2-lightest {
  background-color: var(--b2-lightest);
}
.bg-b2-lighter {
  background-color: var(--b2-lighter);
}
.bg-b2-light {
  background-color: var(--b2-light);
}
.bg-b2-normal {
  background-color: var(--b2-normal);
}
.bg-b2-dark {
  background-color: var(--b2-dark);
}
.bg-b2-darker {
  background-color: var(--b2-darker);
}
.bg-b2-darkest {
  background-color: var(--b2-darkest);
}

.bg-b3-lightest {
  background-color: var(--b3-lightest);
}
.bg-b3-lighter {
  background-color: var(--b3-lighter);
}
.bg-b3-light {
  background-color: var(--b3-light);
}
.bg-b3-normal {
  background-color: var(--b3-normal);
}
.bg-b3-dark {
  background-color: var(--b3-dark);
}
.bg-b3-darker {
  background-color: var(--b3-darker);
}
.bg-b3-darkest {
  background-color: var(--b3-darkest);
}

.bg-b4-lightest {
  background-color: var(--b4-lightest);
}
.bg-b4-lighter {
  background-color: var(--b4-lighter);
}
.bg-b4-light {
  background-color: var(--b4-light);
}
.bg-b4-normal {
  background-color: var(--b4-normal);
}
.bg-b4-dark {
  background-color: var(--b4-dark);
}
.bg-b4-darker {
  background-color: var(--b4-darker);
}
.bg-b4-darkest {
  background-color: var(--b4-darkest);
}

.bg-b5-lightest {
  background-color: var(--b5-lightest);
}
.bg-b5-lighter {
  background-color: var(--b5-lighter);
}
.bg-b5-light {
  background-color: var(--b5-light);
}
.bg-b5-normal {
  background-color: var(--b5-normal);
}
.bg-b5-dark {
  background-color: var(--b5-dark);
}
.bg-b5-darker {
  background-color: var(--b5-darker);
}
.bg-b5-darkest {
  background-color: var(--b5-darkest);
}

.bg-b6-lightest {
  background-color: var(--b6-lightest);
}
.bg-b6-lighter {
  background-color: var(--b6-lighter);
}
.bg-b6-light {
  background-color: var(--b6-light);
}
.bg-b6-normal {
  background-color: var(--b6-normal);
}
.bg-b6-dark {
  background-color: var(--b6-dark);
}
.bg-b6-darker {
  background-color: var(--b6-darker);
}
.bg-b6-darkest {
  background-color: var(--b6-darkest);
}

.bg-b7-lightest {
  background-color: var(--b7-lightest);
}
.bg-b7-lighter {
  background-color: var(--b7-lighter);
}
.bg-b7-light {
  background-color: var(--b7-light);
}
.bg-b7-normal {
  background-color: var(--b7-normal);
}
.bg-b7-dark {
  background-color: var(--b7-dark);
}
.bg-b7-darker {
  background-color: var(--b7-darker);
}
.bg-b7-darkest {
  background-color: var(--b7-darkest);
}

.bg-b8-lightest {
  background-color: var(--b8-lightest);
}
.bg-b8-lighter {
  background-color: var(--b8-lighter);
}
.bg-b8-light {
  background-color: var(--b8-light);
}
.bg-b8-normal {
  background-color: var(--b8-normal);
}
.bg-b8-dark {
  background-color: var(--b8-dark);
}
.bg-b8-darker {
  background-color: var(--b8-darker);
}
.bg-b8-darkest {
  background-color: var(--b8-darkest);
}

.bg-b9-lightest {
  background-color: var(--b9-lightest);
}
.bg-b9-lighter {
  background-color: var(--b9-lighter);
}
.bg-b9-light {
  background-color: var(--b9-light);
}
.bg-b9-normal {
  background-color: var(--b9-normal);
}
.bg-b9-dark {
  background-color: var(--b9-dark);
}
.bg-b9-darker {
  background-color: var(--b9-darker);
}
.bg-b9-darkest {
  background-color: var(--b9-darkest);
}

/* Transparent Background Classes */

.bg-a1-10 {
  background-color: var(--a1-10);
}
.bg-a1-20 {
  background-color: var(--a1-20);
}
.bg-a1-30 {
  background-color: var(--a1-30);
}
.bg-a1-40 {
  background-color: var(--a1-40);
}
.bg-a1-50 {
  background-color: var(--a1-50);
}
.bg-a1-60 {
  background-color: var(--a1-60);
}
.bg-a1-70 {
  background-color: var(--a1-70);
}
.bg-a1-80 {
  background-color: var(--a1-80);
}
.bg-a1-90 {
  background-color: var(--a1-90);
}
.bg-a2-10 {
  background-color: var(--a2-10);
}
.bg-a2-20 {
  background-color: var(--a2-20);
}
.bg-a2-30 {
  background-color: var(--a2-30);
}
.bg-a2-40 {
  background-color: var(--a2-40);
}
.bg-a2-50 {
  background-color: var(--a2-50);
}
.bg-a2-60 {
  background-color: var(--a2-60);
}
.bg-a2-70 {
  background-color: var(--a2-70);
}
.bg-a2-80 {
  background-color: var(--a2-80);
}
.bg-a2-90 {
  background-color: var(--a2-90);
}
.bg-a3-10 {
  background-color: var(--a3-10);
}
.bg-a3-20 {
  background-color: var(--a3-20);
}
.bg-a3-30 {
  background-color: var(--a3-30);
}
.bg-a3-40 {
  background-color: var(--a3-40);
}
.bg-a3-50 {
  background-color: var(--a3-50);
}
.bg-a3-60 {
  background-color: var(--a3-60);
}
.bg-a3-70 {
  background-color: var(--a3-70);
}
.bg-a3-80 {
  background-color: var(--a3-80);
}
.bg-a3-90 {
  background-color: var(--a3-90);
}
.bg-a4-10 {
  background-color: var(--a4-10);
}
.bg-a4-20 {
  background-color: var(--a4-20);
}
.bg-a4-30 {
  background-color: var(--a4-30);
}
.bg-a4-40 {
  background-color: var(--a4-40);
}
.bg-a4-50 {
  background-color: var(--a4-50);
}
.bg-a4-60 {
  background-color: var(--a4-60);
}
.bg-a4-70 {
  background-color: var(--a4-70);
}
.bg-a4-80 {
  background-color: var(--a4-80);
}
.bg-a4-90 {
  background-color: var(--a4-90);
}
.bg-a5-10 {
  background-color: var(--a5-10);
}
.bg-a5-20 {
  background-color: var(--a5-20);
}
.bg-a5-30 {
  background-color: var(--a5-30);
}
.bg-a5-40 {
  background-color: var(--a5-40);
}
.bg-a5-50 {
  background-color: var(--a5-50);
}
.bg-a5-60 {
  background-color: var(--a5-60);
}
.bg-a5-70 {
  background-color: var(--a5-70);
}
.bg-a5-80 {
  background-color: var(--a5-80);
}
.bg-a5-90 {
  background-color: var(--a5-90);
}
.bg-a6-10 {
  background-color: var(--a6-10);
}
.bg-a6-20 {
  background-color: var(--a6-20);
}
.bg-a6-30 {
  background-color: var(--a6-30);
}
.bg-a6-40 {
  background-color: var(--a6-40);
}
.bg-a6-50 {
  background-color: var(--a6-50);
}
.bg-a6-60 {
  background-color: var(--a6-60);
}
.bg-a6-70 {
  background-color: var(--a6-70);
}
.bg-a6-80 {
  background-color: var(--a6-80);
}
.bg-a6-90 {
  background-color: var(--a6-90);
}
.bg-a7-10 {
  background-color: var(--a7-10);
}
.bg-a7-20 {
  background-color: var(--a7-20);
}
.bg-a7-30 {
  background-color: var(--a7-30);
}
.bg-a7-40 {
  background-color: var(--a7-40);
}
.bg-a7-50 {
  background-color: var(--a7-50);
}
.bg-a7-60 {
  background-color: var(--a7-60);
}
.bg-a7-70 {
  background-color: var(--a7-70);
}
.bg-a7-80 {
  background-color: var(--a7-80);
}
.bg-a7-90 {
  background-color: var(--a7-90);
}
.bg-a8-10 {
  background-color: var(--a8-10);
}
.bg-a8-20 {
  background-color: var(--a8-20);
}
.bg-a8-30 {
  background-color: var(--a8-30);
}
.bg-a8-40 {
  background-color: var(--a8-40);
}
.bg-a8-50 {
  background-color: var(--a8-50);
}
.bg-a8-60 {
  background-color: var(--a8-60);
}
.bg-a8-70 {
  background-color: var(--a8-70);
}
.bg-a8-80 {
  background-color: var(--a8-80);
}
.bg-a8-90 {
  background-color: var(--a8-90);
}
.bg-a9-10 {
  background-color: var(--a9-10);
}
.bg-a9-20 {
  background-color: var(--a9-20);
}
.bg-a9-30 {
  background-color: var(--a9-30);
}
.bg-a9-40 {
  background-color: var(--a9-40);
}
.bg-a9-50 {
  background-color: var(--a9-50);
}
.bg-a9-60 {
  background-color: var(--a9-60);
}
.bg-a9-70 {
  background-color: var(--a9-70);
}
.bg-a9-80 {
  background-color: var(--a9-80);
}
.bg-a9-90 {
  background-color: var(--a9-90);
}
.bg-b1-10 {
  background-color: var(--b1-10);
}
.bg-b1-20 {
  background-color: var(--b1-20);
}
.bg-b1-30 {
  background-color: var(--b1-30);
}
.bg-b1-40 {
  background-color: var(--b1-40);
}
.bg-b1-50 {
  background-color: var(--b1-50);
}
.bg-b1-60 {
  background-color: var(--b1-60);
}
.bg-b1-70 {
  background-color: var(--b1-70);
}
.bg-b1-80 {
  background-color: var(--b1-80);
}
.bg-b1-90 {
  background-color: var(--b1-90);
}
.bg-b2-10 {
  background-color: var(--b2-10);
}
.bg-b2-20 {
  background-color: var(--b2-20);
}
.bg-b2-30 {
  background-color: var(--b2-30);
}
.bg-b2-40 {
  background-color: var(--b2-40);
}
.bg-b2-50 {
  background-color: var(--b2-50);
}
.bg-b2-60 {
  background-color: var(--b2-60);
}
.bg-b2-70 {
  background-color: var(--b2-70);
}
.bg-b2-80 {
  background-color: var(--b2-80);
}
.bg-b2-90 {
  background-color: var(--b2-90);
}
.bg-b3-10 {
  background-color: var(--b3-10);
}
.bg-b3-20 {
  background-color: var(--b3-20);
}
.bg-b3-30 {
  background-color: var(--b3-30);
}
.bg-b3-40 {
  background-color: var(--b3-40);
}
.bg-b3-50 {
  background-color: var(--b3-50);
}
.bg-b3-60 {
  background-color: var(--b3-60);
}
.bg-b3-70 {
  background-color: var(--b3-70);
}
.bg-b3-80 {
  background-color: var(--b3-80);
}
.bg-b3-90 {
  background-color: var(--b3-90);
}
.bg-b4-10 {
  background-color: var(--b4-10);
}
.bg-b4-20 {
  background-color: var(--b4-20);
}
.bg-b4-30 {
  background-color: var(--b4-30);
}
.bg-b4-40 {
  background-color: var(--b4-40);
}
.bg-b4-50 {
  background-color: var(--b4-50);
}
.bg-b4-60 {
  background-color: var(--b4-60);
}
.bg-b4-70 {
  background-color: var(--b4-70);
}
.bg-b4-80 {
  background-color: var(--b4-80);
}
.bg-b4-90 {
  background-color: var(--b4-90);
}
.bg-b5-10 {
  background-color: var(--b5-10);
}
.bg-b5-20 {
  background-color: var(--b5-20);
}
.bg-b5-30 {
  background-color: var(--b5-30);
}
.bg-b5-40 {
  background-color: var(--b5-40);
}
.bg-b5-50 {
  background-color: var(--b5-50);
}
.bg-b5-60 {
  background-color: var(--b5-60);
}
.bg-b5-70 {
  background-color: var(--b5-70);
}
.bg-b5-80 {
  background-color: var(--b5-80);
}
.bg-b5-90 {
  background-color: var(--b5-90);
}
.bg-b6-10 {
  background-color: var(--b6-10);
}
.bg-b6-20 {
  background-color: var(--b6-20);
}
.bg-b6-30 {
  background-color: var(--b6-30);
}
.bg-b6-40 {
  background-color: var(--b6-40);
}
.bg-b6-50 {
  background-color: var(--b6-50);
}
.bg-b6-60 {
  background-color: var(--b6-60);
}
.bg-b6-70 {
  background-color: var(--b6-70);
}
.bg-b6-80 {
  background-color: var(--b6-80);
}
.bg-b6-90 {
  background-color: var(--b6-90);
}
.bg-b7-10 {
  background-color: var(--b7-10);
}
.bg-b7-20 {
  background-color: var(--b7-20);
}
.bg-b7-30 {
  background-color: var(--b7-30);
}
.bg-b7-40 {
  background-color: var(--b7-40);
}
.bg-b7-50 {
  background-color: var(--b7-50);
}
.bg-b7-60 {
  background-color: var(--b7-60);
}
.bg-b7-70 {
  background-color: var(--b7-70);
}
.bg-b7-80 {
  background-color: var(--b7-80);
}
.bg-b7-90 {
  background-color: var(--b7-90);
}
.bg-b8-10 {
  background-color: var(--b8-10);
}
.bg-b8-20 {
  background-color: var(--b8-20);
}
.bg-b8-30 {
  background-color: var(--b8-30);
}
.bg-b8-40 {
  background-color: var(--b8-40);
}
.bg-b8-50 {
  background-color: var(--b8-50);
}
.bg-b8-60 {
  background-color: var(--b8-60);
}
.bg-b8-70 {
  background-color: var(--b8-70);
}
.bg-b8-80 {
  background-color: var(--b8-80);
}
.bg-b8-90 {
  background-color: var(--b8-90);
}
.bg-b9-10 {
  background-color: var(--b9-10);
}
.bg-b9-20 {
  background-color: var(--b9-20);
}
.bg-b9-30 {
  background-color: var(--b9-30);
}
.bg-b9-40 {
  background-color: var(--b9-40);
}
.bg-b9-50 {
  background-color: var(--b9-50);
}
.bg-b9-60 {
  background-color: var(--b9-60);
}
.bg-b9-70 {
  background-color: var(--b9-70);
}
.bg-b9-80 {
  background-color: var(--b9-80);
}
.bg-b9-90 {
  background-color: var(--b9-90);
}
