@media (prefers-color-scheme: dark){
  :root{
    --color: #FFFFFF;
    --opposite-color: #000000;
    --bg: #0A0C26;
    --hover: #D1CCB6;
  }
}



@media (prefers-color-scheme: light){

  :root{
    --color: #000000;
    --opposite-color: #FFFFFF;
    --bg: #FFFFFF;
    --hover: #3D48EA;
  }

}


:root{

  --heading-font: "Merriweather", serif;
  --body-font: "Merriweather", serif;

  --primary-color: #A1A1A1;
  --secondary-color: #37A6D5;
  --accent-color: #D5B637;
  --subtle-color: #F2F2F2;

  --primary-ka-color: #D5C837;
  --secondary-ka-color: #37D567; /* #ABE0BB */
  --tertiary-ka-color: #AACBE0;

    --a1Lightest: rgba(216, 220, 239, 1.00);
    --a1Lighter: rgba(177, 184, 222, 1.00);
    --a1Light: rgba(137, 149, 206, 1.00);
    --a1Normal: rgba(98, 113, 189, 1.00);
    --a1Dark: rgba(74, 85, 142, 1.00);
    --a1Darker: rgba(49, 57, 95, 1.00);
    --a1Darkest: rgba(25, 28, 47, 1.00);

    --a2Lightest: rgba(226, 220, 228, 1.00);
    --a2Lighter: rgba(196, 185, 202, 1.00);
    --a2Light: rgba(167, 150, 175, 1.00);
    --a2Normal: rgba(137, 115, 148, 1.00);
    --a2Dark: rgba(103, 86, 111, 1.00);
    --a2Darker: rgba(69, 58, 74, 1.00);
    --a2Darkest: rgba(34, 29, 37, 1.00);

    --a3Lightest: rgba(215, 224, 235, 1.00);
    --a3Lighter: rgba(175, 193, 215, 1.00);
    --a3Light: rgba(135, 162, 194, 1.00);
    --a3Normal: rgba(95, 131, 174, 1.00);
    --a3Dark: rgba(71, 98, 131, 1.00);
    --a3Darker: rgba(48, 66, 87, 1.00);
    --a3Darkest: rgba(24, 33, 44, 1.00);

    --a4Lightest: rgba(212, 229, 234, 1.00);
    --a4Lighter: rgba(169, 202, 212, 1.00);
    --a4Light: rgba(125, 176, 191, 1.00);
    --a4Normal: rgba(82, 149, 169, 1.00);
    --a4Dark: rgba(62, 112, 127, 1.00);
    --a4Darker: rgba(41, 75, 85, 1.00);
    --a4Darkest: rgba(21, 37, 42, 1.00);

    --a5Lightest: rgba(216, 230, 228, 1.00);
    --a5Lighter: rgba(178, 204, 201, 1.00);
    --a5Light: rgba(139, 179, 174, 1.00);
    --a5Normal: rgba(100, 153, 147, 1.00);
    --a5Dark: rgba(75, 115, 110, 1.00);
    --a5Darker: rgba(50, 77, 74, 1.00);
    --a5Darkest: rgba(25, 38, 37, 1.00);

    --a6Lightest: rgba(238, 220, 216, 1.00);
    --a6Lighter: rgba(221, 185, 178, 1.00);
    --a6Light: rgba(203, 149, 139, 1.00);
    --a6Normal: rgba(186, 114, 100, 1.00);
    --a6Dark: rgba(140, 86, 75, 1.00);
    --a6Darker: rgba(93, 57, 50, 1.00);
    --a6Darkest: rgba(47, 29, 25, 1.00);

    --a7Lightest: rgba(235, 228, 211, 1.00);
    --a7Lighter: rgba(214, 201, 168, 1.00);
    --a7Light: rgba(194, 174, 124, 1.00);
    --a7Normal: rgba(173, 147, 80, 1.00);
    --a7Dark: rgba(130, 110, 60, 1.00);
    --a7Darker: rgba(87, 74, 40, 1.00);
    --a7Darkest: rgba(43, 37, 20, 1.00);

    --a8Lightest: rgba(236, 222, 217, 1.00);
    --a8Lighter: rgba(217, 188, 178, 1.00);
    --a8Light: rgba(197, 155, 140, 1.00);
    --a8Normal: rgba(178, 121, 101, 1.00);
    --a8Dark: rgba(134, 91, 76, 1.00);
    --a8Darker: rgba(89, 61, 51, 1.00);
    --a8Darkest: rgba(45, 30, 25, 1.00);

    --a9Lightest: rgba(220, 224, 230, 1.00);
    --a9Lighter: rgba(185, 194, 204, 1.00);
    --a9Light: rgba(150, 163, 179, 1.00);
    --a9Normal: rgba(115, 132, 153, 1.00);
    --a9Dark: rgba(86, 99, 115, 1.00);
    --a9Darker: rgba(58, 66, 77, 1.00);
    --a9Darkest: rgba(29, 33, 38, 1.00);

    --b1Lightest: rgba(248, 205, 221, 1.00);
    --b1Lighter: rgba(241, 156, 186, 1.00);
    --b1Light: rgba(234, 106, 152, 1.00);
    --b1Normal: rgba(227, 56, 117, 1.00);
    --b1Dark: rgba(170, 42, 88, 1.00);
    --b1Darker: rgba(114, 28, 59, 1.00);
    --b1Darkest: rgba(57, 14, 29, 1.00);

    --b2Lightest: rgba(265, 213, 196, 1.00);
    --b2Lighter: rgba(275, 171, 137, 1.00);
    --b2Light: rgba(284, 129, 78, 1.00);
    --b2Normal: rgba(294, 87, 19, 1.00);
    --b2Dark: rgba(221, 65, 14, 1.00);
    --b2Darker: rgba(147, 44, 10, 1.00);
    --b2Darkest: rgba(74, 22, 5, 1.00);

    --b3Lightest: rgba(242, 236, 196, 1.00);
    --b3Lighter: rgba(229, 218, 137, 1.00);
    --b3Light: rgba(215, 199, 78, 1.00);
    --b3Normal: rgba(202, 180, 19, 1.00);
    --b3Dark: rgba(152, 135, 14, 1.00);
    --b3Darker: rgba(101, 90, 10, 1.00);
    --b3Darkest: rgba(51, 45, 5, 1.00);

    --b4Lightest: rgba(224, 238, 212, 1.00);
    --b4Lighter: rgba(194, 220, 169, 1.00);
    --b4Light: rgba(163, 203, 126, 1.00);
    --b4Normal: rgba(132, 185, 83, 1.00);
    --b4Dark: rgba(99, 139, 62, 1.00);
    --b4Darker: rgba(66, 93, 42, 1.00);
    --b4Darkest: rgba(33, 46, 21, 1.00);

    --b5Lightest: rgba(209, 240, 225, 1.00);
    --b5Lighter: rgba(164, 224, 196, 1.00);
    --b5Light: rgba(118, 209, 166, 1.00);
    --b5Normal: rgba(72, 193, 136, 1.00);
    --b5Dark: rgba(54, 145, 102, 1.00);
    --b5Darker: rgba(36, 97, 68, 1.00);
    --b5Darkest: rgba(18, 48, 34, 1.00);

    --b6Lightest: rgba(206, 229, 239, 1.00);
    --b6Lighter: rgba(156, 204, 223, 1.00);
    --b6Light: rgba(107, 178, 207, 1.00);
    --b6Normal: rgba(57, 152, 191, 1.00);
    --b6Dark: rgba(43, 114, 143, 1.00);
    --b6Darker: rgba(29, 76, 96, 1.00);
    --b6Darkest: rgba(14, 38, 48, 1.00);

    --b7Lightest: rgba(209, 219, 247, 1.00);
    --b7Lighter: rgba(163, 182, 238, 1.00);
    --b7Light: rgba(116, 146, 230, 1.00);
    --b7Normal: rgba(70, 109, 221, 1.00);
    --b7Dark: rgba(53, 82, 166, 1.00);
    --b7Darker: rgba(35, 55, 111, 1.00);
    --b7Darkest: rgba(18, 27, 55, 1.00);

    --b8Lightest: rgba(226, 217, 232, 1.00);
    --b8Lighter: rgba(197, 178, 208, 1.00);
    --b8Light: rgba(167, 140, 185, 1.00);
    --b8Normal: rgba(138, 101, 161, 1.00);
    --b8Dark: rgba(104, 76, 121, 1.00);
    --b8Darker: rgba(69, 51, 81, 1.00);
    --b8Darkest: rgba(35, 25, 40, 1.00);

    --b9Lightest: rgba(232, 218, 224, 1.00);
    --b9Lighter: rgba(209, 181, 193, 1.00);
    --b9Light: rgba(186, 143, 162, 1.00);
    --b9Normal: rgba(163, 106, 131, 1.00);
    --b9Dark: rgba(122, 80, 98, 1.00);
    --b9Darker: rgba(82, 53, 66, 1.00);
    --b9Darkest: rgba(41, 27, 33, 1.00);

  

  .a1Lightest{color: var(--a1Lightest);}
  .a1Lighter{color: var(--a1Lighter);}
  .a1Light{color: var(--a1Light);}
  .a1Normal{color: var(--a1Normal);}
  .a1Dark{color: var(--a1Dark);}
  .a1Darker{color: var(--a1Darker);}
  .a1Darkest{color: var(--a1Darkest);}

  .a2Lightest{color: var(--a2Lightest);}
  .a2Lighter{color: var(--a2Lighter);}
  .a2Light{color: var(--a2Light);}
  .a2Normal{color: var(--a2Normal);}
  .a2Dark{color: var(--a2Dark);}
  .a2Darker{color: var(--a2Darker);}
  .a2Darkest{color: var(--a2Darkest);}

  .a3Lightest{color: var(--a3Lightest);}
  .a3Lighter{color: var(--a3Lighter);}
  .a3Light{color: var(--a3Light);}
  .a3Normal{color: var(--a3Normal);}
  .a3Dark{color: var(--a3Dark);}
  .a3Darker{color: var(--a3Darker);}
  .a3Darkest{color: var(--a3Darkest);}

  .a4Lightest{color: var(--a4Lightest);}
  .a4Lighter{color: var(--a4Lighter);}
  .a4Light{color: var(--a4Light);}
  .a4Normal{color: var(--a4Normal);}
  .a4Dark{color: var(--a4Dark);}
  .a4Darker{color: var(--a4Darker);}
  .a4Darkest{color: var(--a4Darkest);}

  .a5Lightest{color: var(--a5Lightest);}
  .a5Lighter{color: var(--a5Lighter);}
  .a5Light{color: var(--a5Light);}
  .a5Normal{color: var(--a5Normal);}
  .a5Dark{color: var(--a5Dark);}
  .a5Darker{color: var(--a5Darker);}
  .a5Darkest{color: var(--a5Darkest);}

  .a6Lightest{color: var(--a6Lightest);}
  .a6Lighter{color: var(--a6Lighter);}
  .a6Light{color: var(--a6Light);}
  .a6Normal{color: var(--a6Normal);}
  .a6Dark{color: var(--a6Dark);}
  .a6Darker{color: var(--a6Darker);}
  .a6Darkest{color: var(--a6Darkest);}

  .a7Lightest{color: var(--a7Lightest);}
  .a7Lighter{color: var(--a7Lighter);}
  .a7Light{color: var(--a7Light);}
  .a7Normal{color: var(--a7Normal);}
  .a7Dark{color: var(--a7Dark);}
  .a7Darker{color: var(--a7Darker);}
  .a7Darkest{color: var(--a7Darkest);}

  .a8Lightest{color: var(--a8Lightest);}
  .a8Lighter{color: var(--a8Lighter);}
  .a8Light{color: var(--a8Light);}
  .a8Normal{color: var(--a8Normal);}
  .a8Dark{color: var(--a8Dark);}
  .a8Darker{color: var(--a8Darker);}
  .a8Darkest{color: var(--a8Darkest);}

  .a9Lightest{color: var(--a9Lightest);}
  .a9Lighter{color: var(--a9Lighter);}
  .a9Light{color: var(--a9Light);}
  .a9Normal{color: var(--a9Normal);}
  .a9Dark{color: var(--a9Dark);}
  .a9Darker{color: var(--a9Darker);}
  .a9Darkest{color: var(--a9Darkest);}

  .b1Lightest{color: var(--b1Lightest);}
  .b1Lighter{color: var(--b1Lighter);}
  .b1Light{color: var(--b1Light);}
  .b1Normal{color: var(--b1Normal);}
  .b1Dark{color: var(--b1Dark);}
  .b1Darker{color: var(--b1Darker);}
  .b1Darkest{color: var(--b1Darkest);}

  .b2Lightest{color: var(--b2Lightest);}
  .b2Lighter{color: var(--b2Lighter);}
  .b2Light{color: var(--b2Light);}
  .b2Normal{color: var(--b2Normal);}
  .b2Dark{color: var(--b2Dark);}
  .b2Darker{color: var(--b2Darker);}
  .b2Darkest{color: var(--b2Darkest);}

  .b3Lightest{color: var(--b3Lightest);}
  .b3Lighter{color: var(--b3Lighter);}
  .b3Light{color: var(--b3Light);}
  .b3Normal{color: var(--b3Normal);}
  .b3Dark{color: var(--b3Dark);}
  .b3Darker{color: var(--b3Darker);}
  .b3Darkest{color: var(--b3Darkest);}

  .b4Lightest{color: var(--b4Lightest);}
  .b4Lighter{color: var(--b4Lighter);}
  .b4Light{color: var(--b4Light);}
  .b4Normal{color: var(--b4Normal);}
  .b4Dark{color: var(--b4Dark);}
  .b4Darker{color: var(--b4Darker);}
  .b4Darkest{color: var(--b4Darkest);}

  .b5Lightest{color: var(--b5Lightest);}
  .b5Lighter{color: var(--b5Lighter);}
  .b5Light{color: var(--b5Light);}
  .b5Normal{color: var(--b5Normal);}
  .b5Dark{color: var(--b5Dark);}
  .b5Darker{color: var(--b5Darker);}
  .b5Darkest{color: var(--b5Darkest);}

  .b6Lightest{color: var(--b6Lightest);}
  .b6Lighter{color: var(--b6Lighter);}
  .b6Light{color: var(--b6Light);}
  .b6Normal{color: var(--b6Normal);}
  .b6Dark{color: var(--b6Dark);}
  .b6Darker{color: var(--b6Darker);}
  .b6Darkest{color: var(--b6Darkest);}

  .b7Lightest{color: var(--b7Lightest);}
  .b7Lighter{color: var(--b7Lighter);}
  .b7Light{color: var(--b7Light);}
  .b7Normal{color: var(--b7Normal);}
  .b7Dark{color: var(--b7Dark);}
  .b7Darker{color: var(--b7Darker);}
  .b7Darkest{color: var(--b7Darkest);}

  .b8Lightest{color: var(--b8Lightest);}
  .b8Lighter{color: var(--b8Lighter);}
  .b8Light{color: var(--b8Light);}
  .b8Normal{color: var(--b8Normal);}
  .b8Dark{color: var(--b8Dark);}
  .b8Darker{color: var(--b8Darker);}
  .b8Darkest{color: var(--b8Darkest);}

  .b9Lightest{color: var(--b9Lightest);}
  .b9Lighter{color: var(--b9Lighter);}
  .b9Light{color: var(--b9Light);}
  .b9Normal{color: var(--b9Normal);}
  .b9Dark{color: var(--b9Dark);}
  .b9Darker{color: var(--b9Darker);}
  .b9Darkest{color: var(--b9Darkest);}

  .a1LightestBg{background-color: var(--a1Lightest);}
  .a1LighterBg{background-color: var(--a1Lighter);}
  .a1LightBg{background-color: var(--a1Light);}
  .a1NormalBg{background-color: var(--a1Normal);}
  .a1DarkBg{background-color: var(--a1Dark);}
  .a1DarkerBg{background-color: var(--a1Darker);}
  .a1DarkestBg{background-color: var(--a1Darkest);}

  .a2LightestBg{background-color: var(--a2Lightest);}
  .a2LighterBg{background-color: var(--a2Lighter);}
  .a2LightBg{background-color: var(--a2Light);}
  .a2NormalBg{background-color: var(--a2Normal);}
  .a2DarkBg{background-color: var(--a2Dark);}
  .a2DarkerBg{background-color: var(--a2Darker);}
  .a2DarkestBg{background-color: var(--a2Darkest);}

  .a3LightestBg{background-color: var(--a3Lightest);}
  .a3LighterBg{background-color: var(--a3Lighter);}
  .a3LightBg{background-color: var(--a3Light);}
  .a3NormalBg{background-color: var(--a3Normal);}
  .a3DarkBg{background-color: var(--a3Dark);}
  .a3DarkerBg{background-color: var(--a3Darker);}
  .a3DarkestBg{background-color: var(--a3Darkest);}

  .a4LightestBg{background-color: var(--a4Lightest);}
  .a4LighterBg{background-color: var(--a4Lighter);}
  .a4LightBg{background-color: var(--a4Light);}
  .a4NormalBg{background-color: var(--a4Normal);}
  .a4DarkBg{background-color: var(--a4Dark);}
  .a4DarkerBg{background-color: var(--a4Darker);}
  .a4DarkestBg{background-color: var(--a4Darkest);}

  .a5LightestBg{background-color: var(--a5Lightest);}
  .a5LighterBg{background-color: var(--a5Lighter);}
  .a5LightBg{background-color: var(--a5Light);}
  .a5NormalBg{background-color: var(--a5Normal);}
  .a5DarkBg{background-color: var(--a5Dark);}
  .a5DarkerBg{background-color: var(--a5Darker);}
  .a5DarkestBg{background-color: var(--a5Darkest);}

  .a6LightestBg{background-color: var(--a6Lightest);}
  .a6LighterBg{background-color: var(--a6Lighter);}
  .a6LightBg{background-color: var(--a6Light);}
  .a6NormalBg{background-color: var(--a6Normal);}
  .a6DarkBg{background-color: var(--a6Dark);}
  .a6DarkerBg{background-color: var(--a6Darker);}
  .a6DarkestBg{background-color: var(--a6Darkest);}

  .a7LightestBg{background-color: var(--a7Lightest);}
  .a7LighterBg{background-color: var(--a7Lighter);}
  .a7LightBg{background-color: var(--a7Light);}
  .a7NormalBg{background-color: var(--a7Normal);}
  .a7DarkBg{background-color: var(--a7Dark);}
  .a7DarkerBg{background-color: var(--a7Darker);}
  .a7DarkestBg{background-color: var(--a7Darkest);}

  .a8LightestBg{background-color: var(--a8Lightest);}
  .a8LighterBg{background-color: var(--a8Lighter);}
  .a8LightBg{background-color: var(--a8Light);}
  .a8NormalBg{background-color: var(--a8Normal);}
  .a8DarkBg{background-color: var(--a8Dark);}
  .a8DarkerBg{background-color: var(--a8Darker);}
  .a8DarkestBg{background-color: var(--a8Darkest);}

  .a9LightestBg{background-color: var(--a9Lightest);}
  .a9LighterBg{background-color: var(--a9Lighter);}
  .a9LightBg{background-color: var(--a9Light);}
  .a9NormalBg{background-color: var(--a9Normal);}
  .a9DarkBg{background-color: var(--a9Dark);}
  .a9DarkerBg{background-color: var(--a9Darker);}
  .a9DarkestBg{background-color: var(--a9Darkest);}

  .b1LightestBg{background-color: var(--b1Lightest);}
  .b1LighterBg{background-color: var(--b1Lighter);}
  .b1LightBg{background-color: var(--b1Light);}
  .b1NormalBg{background-color: var(--b1Normal);}
  .b1DarkBg{background-color: var(--b1Dark);}
  .b1DarkerBg{background-color: var(--b1Darker);}
  .b1DarkestBg{background-color: var(--b1Darkest);}

  .b2LightestBg{background-color: var(--b2Lightest);}
  .b2LighterBg{background-color: var(--b2Lighter);}
  .b2LightBg{background-color: var(--b2Light);}
  .b2NormalBg{background-color: var(--b2Normal);}
  .b2DarkBg{background-color: var(--b2Dark);}
  .b2DarkerBg{background-color: var(--b2Darker);}
  .b2DarkestBg{background-color: var(--b2Darkest);}

  .b3LightestBg{background-color: var(--b3Lightest);}
  .b3LighterBg{background-color: var(--b3Lighter);}
  .b3LightBg{background-color: var(--b3Light);}
  .b3NormalBg{background-color: var(--b3Normal);}
  .b3DarkBg{background-color: var(--b3Dark);}
  .b3DarkerBg{background-color: var(--b3Darker);}
  .b3DarkestBg{background-color: var(--b3Darkest);}

  .b4LightestBg{background-color: var(--b4Lightest);}
  .b4LighterBg{background-color: var(--b4Lighter);}
  .b4LightBg{background-color: var(--b4Light);}
  .b4NormalBg{background-color: var(--b4Normal);}
  .b4DarkBg{background-color: var(--b4Dark);}
  .b4DarkerBg{background-color: var(--b4Darker);}
  .b4DarkestBg{background-color: var(--b4Darkest);}

  .b5LightestBg{background-color: var(--b5Lightest);}
  .b5LighterBg{background-color: var(--b5Lighter);}
  .b5LightBg{background-color: var(--b5Light);}
  .b5NormalBg{background-color: var(--b5Normal);}
  .b5DarkBg{background-color: var(--b5Dark);}
  .b5DarkerBg{background-color: var(--b5Darker);}
  .b5DarkestBg{background-color: var(--b5Darkest);}

  .b6LightestBg{background-color: var(--b6Lightest);}
  .b6LighterBg{background-color: var(--b6Lighter);}
  .b6LightBg{background-color: var(--b6Light);}
  .b6NormalBg{background-color: var(--b6Normal);}
  .b6DarkBg{background-color: var(--b6Dark);}
  .b6DarkerBg{background-color: var(--b6Darker);}
  .b6DarkestBg{background-color: var(--b6Darkest);}

  .b7LightestBg{background-color: var(--b7Lightest);}
  .b7LighterBg{background-color: var(--b7Lighter);}
  .b7LightBg{background-color: var(--b7Light);}
  .b7NormalBg{background-color: var(--b7Normal);}
  .b7DarkBg{background-color: var(--b7Dark);}
  .b7DarkerBg{background-color: var(--b7Darker);}
  .b7DarkestBg{background-color: var(--b7Darkest);}

  .b8LightestBg{background-color: var(--b8Lightest);}
  .b8LighterBg{background-color: var(--b8Lighter);}
  .b8LightBg{background-color: var(--b8Light);}
  .b8NormalBg{background-color: var(--b8Normal);}
  .b8DarkBg{background-color: var(--b8Dark);}
  .b8DarkerBg{background-color: var(--b8Darker);}
  .b8DarkestBg{background-color: var(--b8Darkest);}

  .b9LightestBg{background-color: var(--b9Lightest);}
  .b9LighterBg{background-color: var(--b9Lighter);}
  .b9LightBg{background-color: var(--b9Light);}
  .b9NormalBg{background-color: var(--b9Normal);}
  .b9DarkBg{background-color: var(--b9Dark);}
  .b9DarkerBg{background-color: var(--b9Darker);}
  .b9DarkestBg{background-color: var(--b9Darkest);}

  .a1Complementary{color: #FFA47B;}
  .a2Complementary{color: #8D9473;}
  .a3Complementary{color: #AD925F;}
  .a4Complementary{color: #A87D52;}
  .a5Complementary{color: #997463;}
  .a6Complementary{color: #65BA98;}
  .a7Complementary{color: #5069AD;}
  .a8Complementary{color: #66B3A3;}
  .a9Complementary{color: #998B73;}

  .a1Monochromatic{color: #39323D;}
  .a2Monochromatic{color: #8D9473;}
  .a3Monochromatic{color: #AD925F;}
  .a4Monochromatic{color: #A87D52;}
  .a5Monochromatic{color: #997463;}
  .a6Monochromatic{color: #65BA98;}
  .a7Monochromatic{color: #5069AD;}
  .a8Monochromatic{color: #66B3A3;}
  .a9Monochromatic{color: #998B73;}


}